/*Desde aqui se encuentran los estilos para el fondo y logotipo*/
body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.logotipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: darkred;
}

/*Desde aqui se encuentran los estilos de alto y ancho en cuanto a las imagenes de la primera pantalla*/

.juegoUno{
    width: 300px;
    height: 180px;
}
.juegoDos{
    width: 300px;
    height: 180px;
}
.juegoTres{
    width: 180px;
    height: 180px;
}
.card{
    width: 320px;
    height: 320px;
}
.imgCheck{
    width: 40px;
    height: 40px;
}

/*Desde aqui se encuentran los estilos de las secciones, en donde utilizamos la herramienta flex*/
.seccionUno{
    display: flex;
    justify-content: space-evenly;
}

.seccionUno > div{
    flex: 0 0 1px;
}

.seccionDos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
input{
    width: 256px;
}
.form{
    margin-top: 60px;
    margin-right: 100px;
    width: 300px;
}
.numeroTarjeta{
    margin-top: 60px;
}
.titleCheck{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titleCheck > div{
    justify-content: center;
}
.seccionTres{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.subtitle{
    width: 400px;
}
.pName{
    margin-left: 60px;
    margin-top: 30px;
}

/*Desde aqui se encuentran los estilos en cuanto a los titulos de nuestra APP*/

h1{
    text-align: center;
}
h3{
    text-align: center;
    margin-bottom: 60px;
}
h2{
    text-align: center;
    margin-bottom: 60px;
}
.prox{
    font-size: 16pt;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
}

p{
    margin-bottom: 20px;
}
.precio{
    margin-top: 20px;
    font-weight: bold;
}

/*Desde aqui se encuentran los estilos en cuanto a los botones*/
button{
    background-color: darkred;
    border: 1px solid black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    width: 120px;
    height: 25px;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0 0 0);
}
button:hover{
    border: 2px solid rgb(22, 168, 253);
}

